<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-brand">
      <img class="footer-logo" src="/assets/img/pics/logo.svg.png" alt="MIU Logo" />
      <span class="footer-title">Misr International University</span>
    </div>
    <p class="footer-copy">
      <a href="/pages/help.html" class="footer-author-link">Help &amp; Contact</a> &nbsp;|&nbsp;
      <a href="/pages/privacy-policy.html" class="footer-author-link">Privacy Policy</a> &nbsp;|&nbsp;
      Copyright 2026 © Misr International University, All Rights Reserved | Designed & Developed by <a href="https://www.linkedin.com/in/mahmoud-hefny-1264763b0" target="_blank" rel="noopener noreferrer" class="footer-author-link">Mahmoud Hefny</a> & <a href="https://www.linkedin.com/in/rozan-tarek/" target="_blank" rel="noopener noreferrer" class="footer-author-link">Rozan Tarek</a>
    </p>
  </div>
</footer>
